@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'barlow';
	src: url('../assets/fonts/barlow_medium.woff2') format('woff2');
}

@font-face {
	font-family: 'd_din';
	src: url('../assets/fonts/d_din.woff2') format('woff2');
}

@font-face {
	font-family: 'profane';
	src: url('../assets/fonts/profane.woff2') format('woff2');
}

* {
	@apply m-0 p-0 box-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-profane;
}

body {
	@apply bg-profane-image bg-no-repeat bg-fixed bg-cover text-dark-blue backdrop-grayscale-[50%] backdrop-brightness-[50%] font-barlow;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
